#container {
    margin: 20px auto;
    width: 95%;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px black;
}


.diagram {
    border: solid 1px black;
    padding-top: 20px;
}

.referenceAP {
    border: solid 1px black;
    border-bottom: none;
}

h4 {
    color: rgb(6, 176, 243);
}



.reference {

    padding-top: 20px;
    border-right: black solid 1px;
}

.total {
    padding-top: 20px;
}

.diagramstyle {
    width: 95%;
    height: 500px;
    background-color: red;
}