.addbtn{
  margin-top: 10px;  
  margin-bottom: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}  
td, th {
  width: 10%;
}

th{
  background-color: rgb(237, 243, 243);
  text-transform: uppercase;
  font-weight: bold;
}
mat-drawer-content{
  background-color: rgb(221, 223, 223);
} 


.content{
  padding: 10px;
  margin: 20px;
   
  
}
table,mat-paginator{
  background: rgba(230, 231, 230, 0.3);
}
.reference{
  color:blue;
  text-decoration:underline;
}


