
      <div  class="content" >
      <button class="addbtn" mat-raised-button color="warn" (click)="openDialog()">Add Training</button>
  
      <div mat-dialog-content class="training">
      <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>       
        <div class="mat-elevation">
              <table mat-table [dataSource]="dataSource" matSort>   
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> subject </th>
              <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
            </ng-container>    
            
            <ng-container matColumnDef="validity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> validity (year) </th>
              <td mat-cell *matCellDef="let row"> {{row.validity}} </td>
            </ng-container>        
            
            <ng-container matColumnDef="necessity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> necessity </th>
              <td mat-cell *matCellDef="let row"> {{row.necessity}} </td>
            </ng-container>
            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
              <td mat-cell *matCellDef="let row"> {{row.department}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row">
               <button mat-icon-button color="primary" (click)="edit(row)"><mat-icon>edit</mat-icon> </button>
               <button mat-icon-button color="warn" (click)="deleteTrainings(row.id)"><mat-icon>delete</mat-icon></button>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>      
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
            
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
        
      
      </div>
      </div>  
        
 
  
  
  

