.toolbar {
  background-color: white;
  
}

.logo {
  padding: 10px;
  width: 15%;
  
}

.logo > img {
  width: 50%;
  height: 50px;
}
.menu {
  margin-left: 70px;
  width: 80%;
  display: flex;
  justify-content: space-between;

}
.mainMenu {

  display: flex;
  width: 50%;
  justify-content: space-between;
}

.item {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

a {
  text-decoration: none;
  color: rgb(11, 127, 194);
}
a:hover {
  color: rgb(13, 14, 13);
}

img
{
  width: 40px;
  height: 20px;
}
.sign{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  color: rgb(70, 144, 187);
}
.matMenuItem>a{
  color: black;
}
footer{
  
  padding-top: 10px;    
  background-image: linear-gradient(180deg, rgb(89, 127, 209), #03224c);
  color: white;
}
.footer-top{
  
  display: flex;
  justify-content: space-between;
  margin: 5px 150px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-top-h1{
font-size: 30px;
}
ul{
 
  padding-left: 0;
}
li{
list-style: none;
font-size: 1.1rem;
margin-top: 3px;
}
.mediaItem {
  text-decoration: none;
  color: white;
}
.copyrigth{
  color: white;
  border-top: 0.5px black solid; 
  padding: 10px 50px;
}
