    <mat-toolbar color="primary" >
      <div class="logo">
        <img
          src="https://upload.wikimedia.org/wikipedia/fr/d/d1/Groupe_chimique_tunisien.jpg"
          alt=""
        />
      </div>    
      <div class="menu">
        <div class="mainMenu">
          <button mat-button class="item"><a [routerLink]="['./shared/home']">Home</a></button>
          <button mat-button class="item"><a [routerLink]="['./shared/about']">About</a></button>
          <button mat-button [matMenuTriggerFor]="beforeMenu" class="item">Features</button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>risks study</button>
            <button mat-menu-item>risks Assessments</button>
            <button mat-menu-item>incidents management</button>
            <button mat-menu-item>permit work system</button>
            <button mat-menu-item>Action plans</button>
            <button mat-menu-item>trainings</button>
          </mat-menu>
          <button mat-button class="item">Documentations</button>
        </div>
        <div class="access">
          <img
            src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
            alt=""
          />
          <button mat-button class="sign" ><a [routerLink]="['./sessions/login']">Sign in</a> </button>         
          <button mat-button class="sign" ><a [routerLink]="['./sessions/signup']"> Sign up</a></button>
        </div>
      </div>
    </mat-toolbar>

  <div class="mainRouter">
    <router-outlet></router-outlet>
  </div>

