.addbtn{
    margin-top: 10px;  
    margin-bottom: 10px;
    background-color: rgb(107, 160, 240);
      color: rgb(24, 22, 22);
  }

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }  
  table,mat-paginator{
    background: rgba(230, 231, 230, 0.3);
  }

td, th {
    width: 10%;
  }
  td{
    color: black;
  }
  th{
    background-color: rgb(237, 243, 243);
    text-transform: uppercase;
    font-weight: bold;    
  }
  mat-drawer-content{
    background-color: rgb(221, 223, 223);
  } 
  .sidebar{    
    width: 18%;
  }
 
  .content{
    padding: 10px;
    margin: 20px;
      
  }
  .reference{
    color:blue;
    text-decoration:underline;
  }
  
  
  
  