<div class="container-fluid">
  <div class="row pt-4 home-header" style="height: 400px">
    <div class="citation">
      <h1 class="h1-header">
        Renforcez la sécurité de votre <br />
        chantier avec l’application <br />
        des normes HSE
      </h1>
      <p>Appliquez efficacement les normes HSE</p>
      <p>Impliquez toutes les équipes</p>
      <p>Anticipez les problèmes</p>
    </div>
  </div>
  <div class="first-home">
    <h1 class="h1-home">Why is HSE Application important?</h1>
    <p class="p-home">
      A good health & safety management system comprises of a series of
      practical policies, plans and procedures which reflect <br />
      business operations and create a fundamental system designed to reduce
      risk and protect people.
    </p>

    <div class="advantages">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-users fa-2x text-primary"></i>
          <h1 class="card-title">Personal Safety</h1>
          <p class="card-text">
            the provision of a safe working environment, safe equipment,
            policies, and procedures in order to ensure workers' health and
            safety
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-compass fa-2x text-primary"></i>
          <h1 class="card-title">Observation, Inspection, and Hazard Report</h1>
          <p class="card-text">
            Build and sustain your health and safety culture,
            Assign corrective actions on the spot
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-sack-dollar fa-2x text-primary"></i>
          <h1 class="card-title">Incident Management</h1>
          <p class="card-text">
            Creating incident registers, and implementing corrective actions
            based on incident reporting suggestions.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-compass fa-2x text-primary"></i>
          <h1 class="card-title">Manage Permits to Work (PTWs) digitally</h1>
          <p class="card-text">
            Effectively enforce high health and safety compliance on your job site         
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-dollar fa-2x text-primary"></i>
          <h1 class="card-title">Training Management</h1>
          <p class="card-text">
            this feature will display a training calendar based on the training
            plan that has been made and there will be names and training
            competitions for HSE participants.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-link fa-2x text-primary"></i>
          <h1 class="card-title">
            Manage equipment & machinery safety records
          </h1>
          <p class="card-text">
            Option to integrate with heavy equipment management software
Option to manage inspections and repair jobs 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
