.home-header {
  background-image: url("../../../../src/assets/img/Construction-Safety.jpeg"),url("../../../../src/assets/img/oil-gas-bonds-unique.jpg");
  background-size: 100%;  
  background-repeat: no-repeat,no-repeat;
  background-position: right bottom, left top;
  background-position:center;
  padding-left: 70px;
}

.h1-header {
 line-height: 150%;
  font-size: 250%;
  margin-bottom: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-size: 1.1rem;
}
.citation {
  width: 40%;
  color: rgb(26, 56, 190);
}
.first-home {
  padding-top: 80px;
}
.h1-home {
  color: rgb(68, 136, 224);
  text-align: center;
  font-size: 2rem;
}
.p-home {
  text-align: center;
  line-height: 200%;
  font-size: 0.9rem;
}
.advantages{
  margin-top: 50px;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card{
  padding-top: 20px;
  text-align: center;
  width: 30%; 
  margin-top: 30px;
  height: 250px;
  background-color: white;
}
.card:hover{
  border:solid blue 2px;
  box-sizing: border-box;
}
.card-title{
  font-weight:500;
  margin-top: 10px;
}
.container-fluid{
  background-color: #FAF9F8;
}