<div class="container-fluid">
  <div class="row pt-4 home-header" style="height: 400px">
    <div class="citation">
      <h1 class="h1-header">
        Strengthen the Security of <br> Your 
Industrial site <br> With  the Application of <br>
HSE Standards
      </h1>
      
    </div>
  </div>
  <div class="first-home">
    <h1 class="h1-home">Why is HSE Application important?</h1>
    <p class="p-home">
      A good health & safety management system comprises of a series of
      practical policies, plans and procedures which reflect <br />
      business operations and create a fundamental system designed to reduce
      risk and protect people.
    </p>

    <div class="advantages">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-users fa-2x text-primary"></i>
          <h1 class="card-title">Safety Dashboard</h1>
          <p class="card-text">
            Safety dashboards help you quickly visualize and drill down on
            trends and patterns in your data in order to answer business questions.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-compass fa-2x text-primary"></i>
          <h1 class="card-title">Hazard Identification & Suggestions(RIRS) </h1>
          <p class="card-text">
            Hazard identification is part of the process used to evaluate if any particular
            situation, item, thing, etc.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-sack-dollar fa-2x text-primary"></i>
          <h1 class="card-title">Incident Management</h1>
          <p class="card-text">
            Creating incident registers, and implementing corrective actions
            based on incident reporting suggestions.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-compass fa-2x text-primary"></i>
          <h1 class="card-title">Manage Permits to Work (PTWs) digitally</h1>
          <p class="card-text">
            Effectively enforce high health and safety compliance on your job site         
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-dollar fa-2x text-primary"></i>
          <h1 class="card-title">Training Management</h1>
          <p class="card-text">
            this feature will display a training calendar based on the training
            plan that has been made and there will be names and training
            competitions for HSE participants.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-link fa-2x text-primary"></i>
          <h1 class="card-title">
            safety Action Plan
          </h1>
          <p class="card-text">
            A safety action plan is a powerful way to prioritize safety
            improvements and justify investment decisions.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
