<!-- <h1>Action Plan</h1>
<div mat-dialog-content>
    <form [formGroup]='APForm' >      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>reference</mat-label>
        <mat-select formControlName='reference'  name="reference">
          <mat-option *ngFor="let incident of incidents" [value]="incident.actionPlan">
          {{incident.actionPlan}}
          </mat-option>
        </mat-select>
      </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>responsible</mat-label>
            <mat-select formControlName='responsible'  name="employee">
              <mat-option *ngFor="let employee of employees" [value]="employee.name">
              {{employee.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>         
            <mat-form-field class="example-full-width" appearance="fill" >
              <mat-label>Corrective actions</mat-label>
              <input formControlName='corrective_actions' matInput placeholder="corrective_actions">                        
            </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Progress</mat-label>
            <input formControlName='progress' matInput placeholder="progress" >
          </mat-form-field>          
      </form>
    </div>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="primary" (click)="addAP()" >{{Actionbtn}}</button>      
      <button mat-raised-button color="warn" mat-dialog-close >Close</button>
    </div>
      

 -->

 action plan